{
    "env": {
        "test": {
            "presets": [
                ["env"]
            ]
        },
        "commonjs": {
            "presets": [
                ["env", {
                    "useBuiltIns": false
                }]
            ],
            "ignore": [
                "**/*.test.js"
            ]
        },
        "es": {
            "presets": [
                ["env", {
                    "useBuiltIns": false,
                    "modules": false
                }]
            ],
            "ignore": [
                "**/*.test.js"
            ]
        }
    }
}