{
    "env": {
        "test": {
            "presets": [
                ["@babel/preset-env"]
            ]
        },
        "commonjs": {
            "presets": [
                ["@babel/preset-env", {
                    "useBuiltIns": false
                }]
            ],
            "ignore": [
                "**/*.test.js"
            ]
        },
        "es": {
            "presets": [
                ["@babel/preset-env", {
                    "useBuiltIns": false,
                    "modules": false,
                    "targets": {
                        "esmodules": true
                    }
                }]
            ],
            "ignore": [
                "**/*.test.js"
            ]
        }
    }
}