body {
	background: #eee;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}
header {
	background: #000;
	color: #fff;
	padding: 16px 1em;
}
h1 {
	margin: 0;
	padding: 0;
	line-height: 32px;
	font-size: 24px;
}
.top {
	margin: 1em 1em;
}
.shadow {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.BookList {
	max-width: 800px;
	margin: 0 1em;
}
.new-container { margin: 1em 0; }
label {
	margin: 0.5em 1em 0.5em 0;
	font-weight: bold;
}
.new-container input { margin-right: 1em; }
#error-msg { color: #800 }
button {
	display: inline-block;
	border: none;
	background: none;
	color: #006;
	cursor: pointer;
}
button:hover { background: rgba(0,0,0,0.12); }
.Book { padding: 8px 0; }
.card {
	background: #fff;
	padding: 1em 1em;
	box-sizing: border-box;
}
.action { float: right }
.editing > .card { background: #eaeaff; }
.card h3 { margin: 0 0 8px 0; }
.card .author { font-style: italic; }
.label {
	display: inline-block;
	width: 80px;
	font-weight: bold;
}
.edit-input + .edit-input { margin-top: 4px; }